<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.lemoncloud.eurekakit">

    <queries>
        <package android:name="aptip.app" />
        <package android:name="com.samsung.android.oneconnect" />
        <package android:name="com.samsung.pcs" />

        <package android:name="com.lgeha.nuts" />
        <package android:name="finance.chai.app" /> <!--차이페이-->
        <package android:name="com.htbeyond.bybeyond" /> <!-- 바이비2.0 -->
        <package android:name="com.kakao.talk" /> <!-- 카카오톡 -->
        <package android:name="com.shcard.smartpay" /> <!-- 신한페이판 -->
        <package android:name="com.shinhancard.smartshinhan" /> <!-- 신한페이판-공동인증서 -->
        <package android:name="com.hyundaicard.appcard" /> <!-- 현대카드 -->
        <package android:name="com.lumensoft.touchenappfree" /> <!-- 현대카드-공동인증서 -->
        <package android:name="kr.co.samsungcard.mpocket" /> <!-- 삼성카드 -->
        <package android:name="nh.smart.nhallonepay" /> <!-- 올원페이 -->
        <package android:name="com.kbcard.cxh.appcard" /> <!-- KB Pay -->
        <package android:name="com.kbstar.liivbank" /> <!-- Liiv(KB국민은행) -->
        <package android:name="com.kbstar.reboot" /> <!-- Liiv Reboot(KB국민은행) -->
        <package android:name="kvp.jjy.MispAndroid320" /> <!-- ISP/페이북 -->
        <package android:name="com.lcacApp" /> <!-- 롯데카드 -->
        <package android:name="com.hanaskcard.paycla" /> <!-- 하나카드 -->
        <package android:name="kr.co.hanamembers.hmscustomer" /> <!-- 하나멤버스 -->
        <package android:name="kr.co.citibank.citimobile" /> <!-- 씨티모바일 -->
        <package android:name="com.wooricard.wpay" /> <!-- 우리페이 -->
        <package android:name="com.wooricard.smartapp" /> <!-- 우리카드 -->
        <package android:name="com.wooribank.smart.npib" /> <!-- 우리WON뱅킹 -->
        <package android:name="viva.republica.toss" /> <!-- 토스뱅크 -->
        <package android:name="com.nhnent.payapp" /> <!-- PAYCO -->
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" /> <!-- SSGPAY -->
        <package android:name="com.kakao.talk" /> <!-- 카카오페이 -->
        <package android:name="com.nhn.android.search" /> <!-- 네이버페이 -->
        <package android:name="com.lottemembers.android" /> <!-- L.POINT -->
        <package android:name="com.samsung.android.spay" /> <!-- 삼성페이 -->
        <package android:name="com.samsung.android.spaylite" /> <!-- 삼성페이 -->
        <package android:name="com.lge.lgpay" /> <!-- 엘지페이 -->
        <package android:name="com.TouchEn.mVaccine.webs" /> <!-- TouchEn mVaccine (신한) -->
        <package android:name="kr.co.shiftworks.vguardweb" /> <!-- V-Guard (삼성) -->
        <package android:name="com.ahnlab.v3mobileplus" /> <!-- V3 (NH, 현대) -->
        <package android:name="com.shinhan.smartcaremgr" /> <!-- 신한 슈퍼SOL -->
        <!--신용카드 공인인증-->
        <package android:name="com.hanaskcard.rocomo.potal" /> <!--하나-->
        <!--계좌이체-->
        <package android:name="com.kftc.bankpay.android" /> <!--뱅크페이-->
        <package android:name="kr.co.kfcc.mobilebank" /> <!--MG 새마을금고-->
        <package android:name="com.nh.cashcardapp" /> <!--뱅크페이-->
        <package android:name="com.knb.psb" /> <!--BNK경남은행-->
        <package android:name="com.lguplus.paynow" /> <!--페이나우-->
        <package android:name="com.kbankwith.smartbank" /> <!--케이뱅크-->
        <!--해외결제-->
        <package android:name="com.eg.android.AlipayGphone" /> <!--페이나우-->
        <!--기타-->
        <package android:name="com.sktelecom.tauth" /> <!--PASS-->
        <package android:name="com.lguplus.smartotp" /> <!--PASS-->
        <package android:name="com.kt.ktauth" /> <!--PASS-->
        <package android:name="kr.danal.app.damoum" /> <!--다날 다모음-->
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
    >
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification"
        />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="eurekakit" />

                <data android:host="eurekakit.page.link" android:scheme="http"/>
                <data android:host="eurekakit.page.link" android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
