<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EurekaKit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>eurekakit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eurekakit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.lemoncloud.eurekakit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eurekakit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dynamic-link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eurekakit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaoplus</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>scapp</string>
		<string>communitybyb</string>
		<string>comunitybyb</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>tel</string>
		<string>sms</string>
		<string>storylink</string>
		<string>mailto</string>
		<string>itms-apps</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
		<string>kakaoac4f6c307be8a4cc5d08ff4d13affdd0</string>
		<string>kakaotalk-5.9.7</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>lguthepay</string>
		<string>lguthepay-xpay</string>
		<string>smartxpay-transfer</string>
		<string>nhappcash-acp</string>
		<string>SmartBank2WIB</string>
		<string>SmartBank2WB</string>
		<string>PortalCenterWB</string>
		<string>woorimembers</string>
		<string>wibeetalk</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>Wooripay</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>kb-acp</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>tswansimclick</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>ispmobile</string>
		<string>uppay</string>
		<string>shinsegaeeasypayment</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>smilepayapp</string>
		<string>kakaotalk</string>
		<string>kftc-bankpay</string>
		<string>itms-apps</string>
		<string>mpocket.online.ansimclick</string>
		<string>nhappvardansimclick</string>
		<string>citimobileapp</string>
		<string>hanamopmoasign</string>
		<string>aptip</string>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>itms-apps</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>kb-acp</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>kakaotalk</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>hanamopmoasign</string>
		<string>wooripay</string>
		<string>nhallonepayansimclick</string>
		<string>hanawalletmembers</string>
		<string>supertoss</string>
		<string>kb-acp</string>
		<string>liivbank</string>
		<string>newliiv</string>
		<string>kbbank</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>tswansimclick</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>com.wooricard.wcard</string>
		<string>newsmartpib</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>cloudpay</string>
		<string>hanawalletmembers</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinsegaeeasypayment</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>ispmobile</string>
		<string>tauthlink</string>
		<string>ktauthexternalcall</string>
		<string>upluscorporation</string>
		<string>kftc-bankpay</string>
		<string>kakaotalk</string>
		<string>wooripay</string>
		<string>lmslpay</string>
		<string>naversearchthirdlogin</string>
		<string>hanaskcardmobileportal</string>
		<string>kb-bankpay</string>
		<string>smartthings</string>
		<string>thinqapp</string>
		<string>lgsmartthinq</string>
		<string>slp</string>
		<string>slpplus</string>
		<string>slpoffice</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>applinks:eurekakit.page.link</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>applinks:io.lemoncloud.eurekakit.app.goo.gl</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>1:1문의 또는 프로필 사진 변경시 필요한 사진 등록을 위해 카메라 기능을 이용하도록 허용합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>1:1문의 또는 프로필 사진 변경시 필요한 사진 및 동영상 첨부를 위해 사진 라이브러리에 접근하도록 허용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>1:1문의 또는 프로필 사진 변경시 필요한 사진 및 동영상 첨부를 위해 사진 라이브러리에 접근하도록 허용합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
